# Python

__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# Logs
*.log


# VS Code

.vscode/
.history/
*.code-workspace


# Windows

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


log/
log_SGD/
log_SGD_wM/

log_resnet18/
log_effnet_b0/